@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.tabela-perguntas {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden; 
}


.tabela-perguntas thead tr {
    background-color: #009879; 
    color: #ffffff;
    text-align: left;
}


.tabela-perguntas th,
.tabela-perguntas td {
    padding: 12px 15px;
}

.tabela-perguntas tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabela-perguntas tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabela-perguntas tbody tr:hover {
    background-color: #f1f1f1;
    cursor: default;
}


.container-pergunta {
    margin-bottom: 20px; 
    text-align: left;   
    
}


.container-pergunta a {
    display: inline-block;
    background-color: #009879; 
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px; 
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    transition: all 0.3s ease; 
}


.container-pergunta a:hover {
    background-color: #007f65; 
    box-shadow: 0 6px 8px rgba(0,0,0,0)
}

.container-pergunta a::before {
    content: "+ ";
    font-weight: bold;
    margin-right: 5px;
}